fastapi
langchain
langgraph
langchain_community
openai
pydantic
langchain-experimental
langchain-google-genai
fastapi
python-multipart
uvicorn
faiss-cpu
torch
transformers
sentence-transformers
opencv-python
pdf2image
pytesseract
python-magic
fastapi-sessions
langchain-chroma
langchain-huggingface
onnx==1.16.1