fastapi
langchain
langgraph
langchain_community
pydantic
langchain-google-genai
fastapi
python-multipart
uvicorn
transformers
sentence-transformers
opencv-python
pdf2image
pytesseract
python-magic
fastapi-sessions
langchain-chroma
langchain-huggingface
streamlit


